[user]
forceIconSize=true
iconSize=23
pinned=/usr/share/applications/firefox.desktop;/usr/share/applications/gpick.desktop;/home/sid/.local/share/applications/libre.desktop;/usr/share/applications/qasmixer.desktop;/usr/share/applications/xfce4-taskmanager.desktop;/usr/share/applications/pcmanfm.desktop;
indicatorOrientation=0
indicatorStyle=0
