[user]
pinned=/home/sid/.local/share/applications/chromium-devel.desktop;/usr/share/applications/xfce4-taskmanager.desktop;/usr/share/applications/firefox.desktop;/usr/share/applications/lxappearance.desktop;/usr/share/applications/pcmanfm.desktop;/usr/share/applications/qasmixer.desktop;/usr/share/applications/QMPlay2.desktop;/home/sid/.local/share/applications/libre.desktop;/usr/share/applications/mate-calc.desktop;/usr/share/applications/wpa-cute.desktop;
forceIconSize=true
iconSize=18
