URxvt*background: #0f111a
urxvt*foreground:#ffffff
URxvt*geometry: 80x30
URxvt*scrollBar: false


!-- Xft settings -- !
Xft.dpi:        96
Xft.antialias:  true
Xft.rgba:       rgb
Xft.hinting:    true
Xft.hintstyle:  hintfull

! -- Fonts -- !
  URxvt.font:xft:Monospace-Bold:pixelsize=12.5
  URxvt.boldfont:xft:Monospace-Bold:pixelsize=12.5

! window padding

URxvt.letterSpace: -1
URxvt.internalBorder:  10

urxvt.foreground:       #aaaaaa


st.opacity:        255


*color12: #0D72CA
*color4: #0D72CA

URxvt*inheritPixmap: true
URxvt*transparent: true
! -- URxvt*shading: 0 to 99 darkens, 101 to 200 lightens -- !
URxvt*shading:0

! -- URxvt.perl-ext-common: ...,tabbed,...  -- !

URxvt.tabbed.tabbar-fg: 4
URxvt.tabbed.tabbar-bg: 0
URxvt.tabbed.tab-fg: 3
URxvt.tabbed.tab-bg: 2

! -- xterm config -- !


xterm*faceName: Fira Code Medium Nerd Font Complete Mono


xterm*faceSize: 10
xterm*renderFont: true
xterm*BorderWidth: 15
XTerm*selectToClipboard: true


 
st.borderpx:          15
st.font:           JetBrainsMono Medium:pixelsize=15 , Material Design Icons :pixelsize =15
! special
*cursorColor:  #bbc5ff

 
*.background: #171a1f  
 
 

! black
*.color0:       #171a1f    
*.color8:       #434758

! red
*.color1:       #f07178
*.color9:       #ff8b92

! green
*.color2:       #c3e88d
*.color10:      #ddffa7

! yellow
*.color3:       #ffcb6b
*.color11:      #ffe585

! blue
*.color4:       #82aaff
*.color12:      #9cc4ff

! magenta
*.color5:       #c792ea
*.color13:      #e1acff

! cyan
*.color6:       #89ddff
*.color14:      #a3f7ff

! white
*.color7:       #d0d0d0
*.color15:      #ffffff

