
!-- Xft settings -- !
Xft.dpi:        96
Xft.antialias:  true
Xft.rgba:       rgb
Xft.hinting:    true
Xft.hintstyle:  hintfull

! window padding
st.borderpx:          15
st.font:           JetBrainsMono Nerd Font  :pixelsize=15 , Material Design Icons :pixelsize =15

*background:        #1e2132
*foreground: #c6c8d1
! black
*color0: #2a3158
*color8: #444b71
! red
*color1: #e27878
*color9: #e2a478
! green
*color2: #89b8c2
*color10: #b4be82
! yellow
*color3: #e4aa80
*color11: #d8e599
! blue
*color4: #84a0c6
*color12: #3e445e
! magenta
*color5: #d1a8ad
*color13: #673e43
! cyan
*color6: #adc1cb
*color14: #686f9a
! white
*color7: #c6c8d1
*color15: #d4d5db
