[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=Chromium
Exec=/opt/ungoogled-chromium_87.0.4280.88-1.1_linux/chrome %U
Terminal=false
Icon=/home/sid/.local/share/icons/Uos-fulldistro-icons/apps/64/chrome.svg
Type=Application
Categories=Application;Network;WebBrowser;
MimeType=x-scheme-handler/unknown;x-scheme-handler/about;x-scheme-handler/https;x-scheme-handler/http;text/html;text/xml;application/xhtml_xml;
X-XFCE-Source=file:///home/sid/.local/share/applications/chromium-devel.desktop
